<div class="search-wrapper">
    <div class="search-inner-wrapper">
        <h1>Search Results</h1>
        <div #scrollCont class="grid-wrap">
            <div *ngFor="let i of data" class="grid-item">
                <div style="cursor:pointer" (click)="handleMangaClick(i.link)" style="background-image: url({{i.thumb}});" class="item-thumb">
                    <div class="title-background">
                        <p>{{i.title}}</p>
                    </div>
                </div>
                <span>Manga Park</span>
            </div>
        </div>
    </div>
</div>