<div class="disc-wrapper">
    <div *ngIf="setSpinner" class="spinner-cont">
        <div class="loader">Loading...</div>
    </div>
    <div (scroll)="handleScroll()" style="cursor:pointer" #scrollCont class="grid-wrap">
        <div  *ngFor="let i of dataArr" class="grid-item">
            <div style="background-image: url({{i.thumb}});" (click)="handleMangaClick(i)" class="item-thumb">
                <div class="title-background">
                    <p>{{i.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
