<div class="homepage-wrapper">
  <div *ngIf="setSpinner" class="spinner-cont">
    <div class="loader">Loading...</div>
  </div>
  <div
    *ngIf="!setSpinner"
    class="animate__animated animate__fadeIn homepage-inner-wrapper"
  >
    <div (scroll)="handleScroll()" #scrollCont class="grid-wrap">
      <div *ngIf="showNoBookmarks" class="noBookmark">
        <h1>No Bookmarks Found, Add Some!</h1>
      </div>
      <div class="home-search-wrap">
        <input
          #searchHome
          (keydown)="
            handleHomePageSearch($event, searchHome.value.toLowerCase())
          "
          type="text"
          placeholder="Search Bookmarks"
        />
      </div>
      <div *ngFor="let i of unreadArr" class="grid-item">
        <div
          style="cursor: pointer"
          (click)="handleMangaClick(i.manga_link)"
          style="background-image: url({{ i.thumb_link }});"
          class="item-thumb"
        >
          <div class="title-background">
            <div class="new-wrapper">
              <p>
                {{ returnAbs(i.latest_chapter_index - i.last_read_index - 1) }}
              </p>
            </div>
            <p>{{ i.manga_title }}</p>
          </div>
        </div>
        <span>{{ getSourceFromCode(i.source, this.srcObj) }}</span>
      </div>
      <div *ngFor="let i of readArr" class="grid-item">
        <div
          style="cursor: pointer"
          (click)="handleMangaClick(i.manga_link)"
          style="background-image: url({{ i.thumb_link }});"
          class="item-thumb"
        >
          <div class="title-background">
            <p>{{ i.manga_title }}</p>
          </div>
        </div>
        <span>{{ this.getSourceFromCode(i.source, this.srcObj) }}</span>
      </div>
    </div>
  </div>
</div>
