<div class="animate__animated animate__fadeIn account-outer-wrap">
  <div *ngIf="setSpinner" class="spinner-cont">
    <div class="loader">Loading...</div>
  </div>
  <div class="account-wrap">
    <div class="account-option-wrap">
      <div class="account-option-flex-wrap">
        <h1>Manga Source</h1>
        <select class="src-option" (change)="changeSource()" #srcOptions>
          <option
            *ngFor="let i of srcArr"
            [selected]="currentSrc == i.code ? true : false"
            value="{{ i.code }}"
          >
            {{ i.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="black border-orange logout-btn-wrap">
      <div (click)="handleLogout()" class="logout-button">
        <span>Logout</span>
      </div>
    </div>
    <span style="color: #ff5400">Verison No: {{ vno }}</span>
  </div>
</div>
