<div class="animate__animated animate__fadeIn account-outer-wrap">
    <div *ngIf="setSpinner" class="spinner-cont">
        <div class="loader">Loading...</div>
    </div>
    <div class="account-wrap">
        <div class="account-option-wrap">
            <div class="account-option-flex-wrap">
                <h1>Manga Source</h1>
                <select class="src-option" (change)="changeSource()" #srcOptions>
                    <option [selected]=" currentSrc == 'MGPK' ? true : false" value="MGPK">Manga Park</option>
                    <option [selected]=" currentSrc == 'MGFX' ? true : false" value="MGFX">Manga Fox</option>
                    <!-- <option [selected]=" currentSrc == 'MGDX' ? true : false" value="MGDX">Manga Dex</option> -->
                </select>
            </div>
        </div>
        <div class="logout-btn-wrap">
            <div (click)="handleLogout()" class="logout-button">
                <span>Logout</span>
            </div>
        </div>
    </div>
</div>