.dashboard-outer-cont {
    width: 100%;
    height: 100%;
    /* background: #363636; */
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav-dash {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.selected-nav {
    color: #ff5400 !important;
    transition: color 0.5s;
}

.search-icon-selected {
    color: #ff5400 !important;
}

.search-btn-cont {
    width: 95%;
    height: 80%;
    display: flex;
    /* background: linear-gradient(145deg, #3B3B3B, #2B2B2B); */
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}

.search-border {
    padding: 9px;
}

.search-icon-cont {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b5a2a2;
    /* text-shadow:-2px -2px 4px rgb(0 0 0), 2px 2px 4px rgb(117 117 117 / 89%); */
}

.auto-wrap {
    z-index: 10;
    width: 100%;
    max-height: 40vh;
    overflow: scroll;
    /* background: linear-gradient(2deg, #636363, #444444); */
    position: absolute;
    top: 100%;
    left: -2px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.suggest-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #ffdfdf;
    font-family: Arial, sans-serif;
}

.suggest-wrap>p {
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 89%;
    height: 100%;
    font-size: 1.5rem;
    align-self: flex-end;
    border-bottom: 2px solid #907979;
}

.search-thumb-wrap {
    width: 50px;
    height: 100%;
    margin-left: 20px;
}

.search-thumb-wrap>img {
    width: 100%;
    height: 100%;
}

.search-open {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-text-cont {
    width: 90%;
    height: 100%;
    color: #b5a2a2;
}

.dash-body {
    width: 100%;
    height: 82%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: blue; */
}

.test-div {
    width: 100%;
    height: 30%;
    /* background: blueviolet; */
    margin-bottom: 20px;
}

.bottom-nav-dash {
    width: calc(100% - 2px);
    height: 10%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: flex-end;
    border-top: 2px solid #ff5400;
    /* background: linear-gradient(20deg, #3E3E3E, #282828); */
    /* border-radius: 15%; */
    /* box-shadow: -1px -9px 19px 1px #1A1A1A, -6.91px -6.91px 60px #4D4D4D; */
}

.bottom-dash-cont {
    width: 100%;
    height: 90%;
    display: flex;
    /* background: red; */
}

.nav-item-cont {
    /* background: green; */
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b5a2a2;
    transition: color 0.5s;
}

.nav-border {
    width: 20%;
    height: 70%;
    /* background: white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    /* background: linear-gradient(145deg, #404040, #262626); */
    /* border-radius: 100%; */
    /* box-shadow: inset 0px -1px 3px 0px #1A1A1A, inset 0px 0px 3px 0px #4D4D4D; */
}

.nav-icon-cont {
    width: 100%;
    height: 60%;
    display: flex;
    /* text-shadow: -2px -4px 4px rgb(6 6 6 / 70%), 2px 3px 6px rgb(117 117 117 / 89%); */
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.nav-icon-cont>a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.nav-icon-title-cont {
    width: 100%;
    height: 20%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-inp {
    width: 98%;
    height: 100%;
    background: none;
    border: none;
    color: #b5a2a2;
}

.search-inp:focus {
    outline: none;
}

.dash-body-wrapper {
    width: 96%;
    height: 94%;
    /* background: red; */
}

@media screen and (max-width: 1028px) {
    .search-icon-cont {
        width: 30%;
    }
    .suggest-wrap>p {
        width: 84%;
        font-size: 3vh;
    }
    .search-text-cont {
        width: 70%;
    }
    .nav-border {
        width: 45px;
        height: 45px;
    }
    .dash-body-wrapper {
        overflow: scroll;
    }
}


/* spinner */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(0.5);
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ff9900;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slideInDown2 {
    animation-name: slideInDown2;
    animation-duration: 1s;
}

@keyframes slideInDown2 {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}