<div class="black dashboard-outer-cont">
  <div *ngIf="setSpin" class="spinner-cont">
    <div class="loader">Loading...</div>
  </div>
  <div *ngIf="showSearch" class="top-nav-dash slideInDown2">
    <div
      [class.search-open]="focusBool"
      class="search-btn-cont"
    >
      <div class="search-icon-cont">
        <div class="search-border">
          <i
            [class.search-icon-selected]="focusBool"
            style="cursor: pointer"
            class="fas fa-search"
          ></i>
        </div>
      </div>
      <div class="search-text-cont">
        <input
          (keydown)="handleSearchRedirect($event, searchInp.value)"
          (blur)="isNotFocused()"
          (focus)="isFocused()"
          (keyup)="getAutoCompleteResults()"
          #searchInp
          placeholder="Search"
          type="text"
          class="search-inp"
        />
        <div *ngIf="!isHome" class="search-type-wrap">
          <div (click)="toggleType('comic')" class="type-wrap">
            <span [class.type-selected]="mode === 'comic'"> COMIC</span>
          </div>
          <div (click)="toggleType('manga')" class="type-wrap">
            <span [class.type-selected]="mode === 'manga'"> MANGA</span>
          </div>
        </div>
      </div>
      <div *ngIf="focusBool" class="auto-wrap">
        <div *ngIf="data.length === 0" class="search-spinner">
          <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div *ngFor="let i of data" class="suggest-wrap">
          <div *ngIf="mode === 'manga'" class="search-thumb-wrap">
            <img src="{{ i.image_url }}" alt="" />
          </div>
          <p (click)="handleSearchRedirect(null, i.name)">{{ i.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div #dashbody class="dash-body">
    <div #dashbodywrap *ngIf="!setSpin && loadApp" class="dash-body-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="animate__animated animate__slideInUp bottom-nav-dash">
    <div class="bottom-dash-cont">
      <div [class.selected-nav]="isDiscover" class="nav-item-cont">
        <div class="nav-border">
          <div class="nav-icon-cont">
            <a
              (click)="selectItem(0)"
              [routerLink]="['discover']"
              [queryParams]="{ type: 'latest' }"
              routerLinkActive="active "
              ><i class="far fa-compass"></i
            ></a>
          </div>
        </div>
      </div>
      <div [class.selected-nav]="isHome" class="nav-item-cont">
        <div class="nav-border">
          <div class="nav-icon-cont">
            <a
              (click)="selectItem(1)"
              routerLink="home"
              routerLinkActive="active "
              ><i class="fas fa-bookmark"></i
            ></a>
          </div>
          <!-- <div class="nav-icon-title-cont ">
                        <p>Home</p>
                    </div> -->
        </div>
      </div>
      <div [class.selected-nav]="isGenre" class="nav-item-cont">
        <div class="nav-border">
          <div class="nav-icon-cont">
            <a
              (click)="selectItem(2)"
              routerLink="genre"
              routerLinkActive="active "
              ><i class="fas fa-tag"></i
            ></a>
          </div>
          <!-- <div class="nav-icon-title-cont ">
                        <p>Genre</p>
                    </div> -->
        </div>
      </div>
      <div [class.selected-nav]="isAccount" class="nav-item-cont">
        <div class="nav-border">
          <div class="nav-icon-cont">
            <a
              (click)="selectItem(3)"
              routerLink="account"
              routerLinkActive="active "
              ><i class="fas fa-cogs"></i></a>
          </div>
          <!-- <div class="nav-icon-title-cont ">
                        <p>Account</p>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
