/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
.grecaptcha-badge { 
    visibility: hidden;
}
html,body{
    width: 100vw;
    height: 100vh;
    overscroll-behavior-y: none;
    overflow: hidden;
    background: #000000;
}
