<div
  #scrollCont
  (scroll)="handleScroll()"
  [class.one-page-wrap]="viewerType === 'onePage'"
  class="black mobile-main"
>
  <div *ngIf="isSpinner" class="spinner-cont">
    <div class="loader">Loading...</div>
  </div>
  <div #snackBar class="snackbar-outer">
    <div
      *ngIf="(isEnd || isEndOnePage) && viewerType === 'vertical'"
      class="snackbar-wrap"
    >
      <div class="snackbar-left">
        <p>No more Pages in Chapter!</p>
      </div>
      <div class="snackbar-right">
        <p (click)="handleBackBtn()">Back</p>
      </div>
    </div>
    <div *ngIf="showReliableMessage" class="snackbar-wrap">
      <div class="snackbar-left">
        <p>Images not found! Trying different algorithm</p>
      </div>
      <div class="snackbar-right">
        <p>Error</p>
      </div>
    </div>
  </div>
  <div *ngIf="!isSpinner" class="back-btn-cont">
    <i (click)="handleBackBtn()" class="fas fa-arrow-circle-left"></i>
  </div>
  <div *ngIf="!isSpinner && viewerType === 'vertical'" class="image-wrapper">
    <img
      (error)="handleImageError($event); image.style.display = 'none'"
      #image
      *ngFor="let i of data"
      src="{{ i }}"
    />
  </div>
  <div *ngIf="viewerType === 'onePage'" class="image-wrapper-one-page">
    <div class="one-page-viewer">
      <div (click)="decrementPageNo(data.length)" class="prev-img"></div>
      <img
        #image
        *ngFor="let i of data; let ind = index"
        src="{{ i }}"
        (error)="handleImageError($event); image.style.display = 'none'"
        [class.showPage]="ind === pageNo"
      />
      <div (click)="incrementPageNo(data.length)" class="next-img"></div>
    </div>
  </div>
</div>
