.mobile-main{
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* background: black; */
}

.back-btn-cont{
    display: flex;
    color: #ffffff6b;
    font-size: 3rem;
    width: 10%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.back-btn-cont > i{
    cursor: pointer;
}

.image-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-wrapper>img{
    height: 100%;
    display: block;
}

@media screen and (max-width: 1028px) {
    .image-wrapper>img{
        width: 100%;
    }
    .back-btn-cont{
        display: none;
    }

}
