.mobile-main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* background: black; */
}

.back-btn-cont {
    display: flex;
    color: #ffffff6b;
    font-size: 3rem;
    width: 10%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.back-btn-cont>i {
    cursor: pointer;
}

.snackbar-outer {
    width: 44%;
    height: 5%;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 3% auto;
}

.snackbar-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    background: #353535;
    color: #aba7a7;
    border-radius: 5px;
}

.snackbar-left {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.snackbar-left>p {
    margin-left: 5%;
    cursor: default;
}

.snackbar-right>p {
    margin-right: 15%;
    color: #ff5400;
    cursor: pointer;
}

.snackbar-right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-wrapper>img {
    height: 100%;
    width: 50%;
    display: block;
}

@media screen and (max-width: 1028px) {
    .image-wrapper>img {
        width: 100%;
    }
    .back-btn-cont {
        display: none;
    }
    .snackbar-outer {
        width: 91%;
        height: 7%;
    }
}